* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ARS Maquette", Helvetica "Neue", Arial, sans-serif;
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
}

.alignment {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* nav styles */

header {
  width: 100vw;
}

.nav {
  height: 8%;
  padding: 0.5%;
  background-color: black;
}

nav a {
  color: #b6b6b6;
  padding: 10px;
}

.left-nav a:nth-child(1) {
  color: white;
}

.navbar {
  padding: 0.5% 1%;
}

.navbar i,
.navbar img {
  padding: 0 10px;
}

.navbar button {
  padding: 5px;
  background-color: #00cccc;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 800;
}

.navbar img {
  width: 100px;
  height: 40px;
}

.announcement {
  background-color: #ffdd33;
}

.announcement a {
  display: inline-block;
  margin-left: 1%;
  color: black;
  padding: 5px;
}

/* section1 styles */
.section1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  color: white;
  margin: 0.7%;
}

.section1 a {
  color: white;
}

.sectionflex {
  display: flex;
}

.bigimg {
  position: relative;
  height: 100%;
  background: linear-gradient(
    165deg,
    rgb(248, 7, 7) 25%,
    rgba(45, 43, 43, 1) 60%,
    rgba(0, 0, 0, 1) 97%
  );
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(images/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 10%;
}

.bigimg h1 {
  font-size: 7rem;
  padding: 0.5% 1%;
}

.bigimgtop {
  align-items: flex-start;
  justify-content: space-between;
}

.bigimgtop p {
  padding: 1%;
}

.link {
  justify-self: flex-end;
}

.link a {
  font-size: 40px;
  color: white;
  width: 40%;
}

.righttop {
  background: url(images/img2.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  align-items: flex-end;
}

.rightbottom {
  background: url(images/img3.png);
  margin-top: 1%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  flex-direction: column;
  justify-content: flex-end;
}

.righttop p,
.rightbottom p {
  font-size: 25px;
  font-weight: bolder;
  padding: 3%;
}

.link p,
.link i {
  font-size: 15px;
  color: grey;
  padding: 0.5%;
}

.white p,
.smallimg i {
  color: white;
  font-size: 15px;
  padding: 0.5%;
}

/* section2 styles */

.title {
  color: #ff4422;
  font-size: 20px;
}

.title h1 {
  display: inline-block;
}

.grid-divs img {
  width: 100%;
}

.grid-divs div {
  margin-bottom: 5%;
}
